:root {
  font-family: 'Anek Devanagari', 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-regional,
.name-regional,
.lang-mr,
.lang-hi {
  font-family: 'Anek Devanagari', sans-serif;
  font-weight: 600;
  /* Default slightly bolder for regional */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}